.overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0.7, 0.7, 0.7, 0.7);
}

.modalContainer {
  z-index: 110;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  padding: 80px 100px;
  text-align: center;
  max-width: 500px;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.button:first-child {
  margin-right: 25px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
}

.button :hover {
  transition: background-color 500ms linear;
}

.yes {
  border: solid 1px #4caf50;
  background-color: #95d097;
}

.no {
  border: solid 1px #f44336;
  background-color: #f7776e;
}

.yes:hover {
  background-color: #4caf50;
}

.no:hover {
  background-color: #f44336;
}
