body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.clickMe {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  background-color: #0099cc;
}

#message {
  margin-top: 20px;
}
